.full {
  margin: auto;
  width: 60%;
  height: 50vh;
  padding: 10px;
}

.tablePontos {
  padding: 5%;
}

:host ::ng-deep .p-toolbar {
  background-color: #00974a;

}

agm-map {
  height: 300px;
  width: 70%;
  padding-left: 100px;
}

.p-button {
  background-color: #00974a;
  border-color: #00974a;
}


:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  color: #00974a;

}